#root {
    margin: 0 auto;
    text-align: center;
    }
    
    .opContainer{
    width: 960px;
    height: 1360px;
    background-color: #FFF4F3;
    box-shadow: 0 0 20px rgba(7, 7, 7, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    }
    
    .breakline::before {
    content: "";
    display: block;
    height: 6px;
    background-color: #F66B0E;
    width: 160px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
    }
    
    h1{
    font-size: 34px;
    color: #EFEFEF;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .bookOp {
    width: 44%;
    z-index: 2;
    position: relative;
    margin-top: -100%;
    }
    
    .labelOp {
    margin-top: 4%;
    width: 50%;
    z-index: 2;
    position: relative;
    }
    
    .elementBgOp {
    margin-top: 2%;
    z-index: 1;
    width: 110%;
    position: relative;
    }
    
    .inputContainer{
        z-index: 3;
        width: 56%;
        margin-top: 1%;
        position: relative;
    }
    
    .elementChara{
        z-index: 2;
        width: 26%;
        margin-top: -100px;
        margin-right: 710px;
        position: relative;
    }
    
    .btnStart{
        z-index: 3;
        border-radius: 20px;
        background-color: #FF8383;
        border-color: black;
        border-width: 2px;
        width: 200px;
        padding: 10px;
        height: max-content;
        font-size: 24px;
        margin-top: -180px;
        position: relative;
    }
    
    .containerForm{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -270px;
        z-index: 4;
        margin-bottom: 90px;
    }
    
    .containerForm h2{
        color: black;
        margin: 0;
        margin-bottom: 10px;
        font-size: 28px;
        margin-top: 20px;
    }
    
    .containerForm input{
        color: black;
        margin: 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        font-size: 24px;
    }
    
    .materiContainer{
        width: 960px;
        height: max-content;
        background-color: #57C4C3;
        box-shadow: 0 0 20px rgba(7, 7, 7, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding-bottom: 90px;
    }
    
    .containerBtn{
        margin-left: 30px;
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }
    
    .barTime{
        margin-top: 12px;
        width: 66%;
    }
    
    .containerRangkuman{
        margin-top: 20px;
        background-color: #FBC97D;
        width: 90%;
        height: max-content;
        padding: 20px;
        border-radius: 30px;
        text-align: left;
        align-items:start;
    }
    
    .containerRangkuman h1{
        text-align: left;
        margin: 0;
        color: black;
        margin-left: 5px;
    }
    
    .subTitle{
        margin-left: 5px;
    }
    
    .containerRangkuman h2{
        display: inline-block;
        text-align: left;
        margin: 0;
        margin-top: 5px;
        margin-right: 15px;
        color: #0171A6;
    }
    
    .containerRangkuman p{
        text-align: left;
        font-size: 18px;
        font-weight: 500;
        color: black;
    }
    
    .blackLine{
        border: none;
        height: 1px;
        background-color: black;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .navBarPrev{
        width: 100%;
        bottom: 0;
        background-color: #FF8383;
        padding: 12px;
        text-align: left;
    }
    
    .navBarPrev h3{
        font-size: 22px;
        margin: 0;
        margin-left: 14px;
        float: left;
    }
    
    .navBarPrev img{
        width: 4%;
        margin: 0;
        margin-left: 10px;
        float: left;
    }
    
    
    .navBarNext{
        position: fixed;
        width: 60%;
        bottom: 0;
        background-color: #FF8383;
        border-radius: 20px 20px 0 0;
        padding: 12px;
        text-align: left;
    }
    
    .navBarNext h3{
        font-size: 22px;
        margin: 0;
        margin-right: 14px;
        float: right;
    }
    
    .navBarNext img{
        width: 4%;
        margin: 0;
        float: right;
        margin-right: 10px;
    }
    
    .floatButton{
        position: fixed;
        bottom: 70px;
        right: 330px;
    }
    
    .latihanContainer{
        width: 960px;
        height: max-content;
        background-color: #57C4C3;
        box-shadow: 0 0 20px rgba(7, 7, 7, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding-bottom: 80px;
    }
    
    .titleContainer{
        width: 30%;
        background-color: #0171A6;
        border-radius: 50px;
        margin: 0;
        margin-top: 10px;
    }
    
    .titleContainer h1{
        font-size: 34px;
        margin-left: 22px;
        margin: 0;
        padding: 14px;
    }
    
    .questContainer{
        margin-top: 20px;
        background-color: #FFFFFF;
        width: 70%;
        border-radius: 20px;
    }
    
    .questContainer h3{
        text-align: left;
        color: #000000;
        margin: 0;
        margin-left: 30px;
        margin-top: 10px;
    }
    
    .questContainer h2{
        color: #000000;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .questContainer img{
        width: 74%;
    }
    
    .answContainer{
        background-color: #FBC97D;
        height: max-content;
        width: 30%;
        padding: 10px;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .answContainer h3{
        margin: 0;
        margin-bottom: 4px;
        font-size: 26px;
    }
    
    .answContainer input {
        font-size: 32px;
        width: 76%;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid black; /* Garis bawah hitam */
        margin-bottom: 10px;
        padding: 4px;
        text-align: center;
      }
      
      .answContainer input:focus {
        border-bottom-color: blue; /* Ubah warna garis saat di klik */
        outline: none; /* Hilangkan outline saat di klik */
      }
    
    .breakClock{
        margin-top: 100px;
    }
    
    .clsContainer{
        width: 960px;
        height: 700px;
        background-color: #FFF4F3;
        box-shadow: 0 0 20px rgba(7, 7, 7, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    
    .closeText{
        background-color: #FFFFFF;
        width: 60%;
        height: max-content;
        padding: 20px;
        position: relative;
        margin-top: -750px;
        z-index: 2;
    }
    
    .closeText h1{
        color: #000000;
        font-size: 36px;
    }

    .btnFinnish{
        z-index: 3;
        border-radius: 20px;
        background-color: #F66B0E;
        border-width: 2px;
        width: 200px;
        padding: 10px;
        height: max-content;
        font-size: 24px;
        position: relative;
    }

    select{
        font-size: 24px;
        padding: 6px;
        border-radius: 10px;
    }
    
    @media (max-width: 768px) {
        .opContainer{height: 1240px; width: 100%;}
        .bookOp{width: 50%;}
        .labelOp{width: 50%;}
        .inputContainer{width: 70%;}
        .elementChara{width: 36%; margin-top: -140px; margin-right: 610px;}
        .containerForm{width: 54%; margin-top: -290px;}
        .containerForm h2{ font-size: 30px; margin-bottom: 20px;}
        .btnStart{ width: 30%; font-size: 28px;}
    
        .materiContainer{width: 100%;}
        .containerBtn{width: 94%;margin-left: 0px;}
        .navBarPrev{width: 100%;}
        .floatButton{right: 90px;}
        .navBarNext{width: 86%;}
    
        .latihanContainer{width: 102%; margin: 0;}
        .questContainer{padding: 10px;}
    
    
        .clsContainer{width: 764px;}
        .elementBgOp{width: 100%;}
        .closeText{margin-top: -500px;}
    }
    
    @media (max-width: 480px) {
        .opContainer{height: 940px; width: 100%;}
        .bookOp{width: 58%;margin-top: -40%;}
        .labelOp{width: 60%;}
        .inputContainer{width: 90%;}
        .elementChara{width: 40%; margin-top: -120px; margin-right: 220px;z-index: 3;}
        .containerForm{width: 56%; margin-top: -46%;}
        .containerForm h2{ font-size: 110%; margin-bottom: 6%; margin-top: 4%;}
        .containerForm input{ font-size: 100%; width: 100%; margin: 0;}
        .btnStart{ width: 30%; font-size: 18px;}
    
    
        .materiContainer{width: 100%;}
        .containerBtn{width: 94%;margin-left: 0px;}
        .navBarPrev{width: 100%;}
        .floatButton{right: 30px;}
        .navBarNext{width: 86%;}
        .navBarNext img{width: 8%;}
        .navBarPrev img{width: 7%;}
    
    
        .latihanContainer{width: 102%; margin: 0;}
        .titleContainer{width: 50%;}
        .titleContainer h1{font-size: 26px;}
        .questContainer{padding: 10px;}
        .questContainer h3{font-size: 20px;}
    
    
        .clsContainer{width: 100%; height: 100%; padding-bottom: 20%;}
        .clsContainer h1{font-size: 160%;}
        .elementBgOp{width: 100%;}
        .closeText{margin-top: -70%;}

        select{font-size: 100%; margin-bottom: 20%;}
    }